h1,
h2,
h3,
h4 {
  color: #000000;
}

code {
  color: #969696;
}

#MainMenu {
  display: none;
}

div[data-testid="stDecoration"] {
  display: none;
}

footer {
  display: none;
}

/* Radio buttons */

.st-cc {
  
  font-weight:500;
  
}

/* Sidebar */

section[data-testid="stSidebar"] > div {
  background-color: #969696;
  padding-top: 2rem;
  padding-left: 1.5rem;
  
}

section[data-testid="stSidebar"] button[title="View fullscreen"] {
  display: none;
}

section[data-testid="stSidebar"] button[kind="icon"] {
  display: none;
}

section[data-testid="stSidebar"] .st-bk {
  background-color: #969696;
}

section[data-testid="stSidebar"] .st-c0 {
  background-color: #969696;
}

section[data-testid="stSidebar"] hr {
  margin-top: 30px;
  border-color:  white;
  width: 50px;
}

section[data-testid="stSidebar"] h2 {
  color: white;
}

/* Images */

button[title="View fullscreen"] {
  display: none;
  
}

/* hr */

hr {
  width: 200px;
  border-width: 5px;
  border-color: #969696;
  margin-top: 0px;
}

/* First Page */

section[tabindex="0"] .block-container {
  padding-top: 0px;
  padding-bottom: 0px;
}


#{button_id} {{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(255, 255, 255);
                color: rgb(38, 39, 48);
                padding: .25rem .75rem;
                position: relative;
                text-decoration: none;
                border-radius: 4px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(230, 234, 241);
                border-image: initial;
            }} 